<div class="col col-xs-8">
  <ul class="pagination hidden-xs pull-left">
    <li><a (click)="backPage()" [class.disabled]="backButtonDisabled">«</a></li>
    <ng-container *ngFor="let page of pages">
      <li>
        <a (click)="selectPage(page)" href="#">{{ page }}</a>
      </li>
    </ng-container>
    <li *ngIf="!nextButtonDisabled"><a [class.disabled]="true">...</a></li>
    <li *ngIf="!nextButtonDisabled">
      <a href="#">{{ quantidadePaginas }}</a>
    </li>
    <li><a [class.disabled]="nextButtonDisabled" (click)="nextPage()">»</a></li>
  </ul>
  <ul class="pagination hidden-xs pull-left"></ul>
</div>
