<app-region-page [Title]="titulo">
  <div body>
    <form [formGroup]="brinquedoForm" novalidate>
      <div class="row">
        <div>
          <ng-container *ngIf="hasError">
            <h3>Erro ao cadastrar usuário:</h3>
            <ng-container *ngFor="let erro of msgsErro">
              <div class="col-xs-10 col-sm-5">
                <span class="help-block pull-left has-error-block"
                  ><i class="fa fa-remove"></i> {{ erro }}
                </span>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Dados do brinquedos:</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <app-input
            errorMessage="Campo obrigatório e com 5 caracteres"
            label="Descrição"
          >
            <input
              class="form-control"
              formControlName="nome"
              required
              placeholder="Descrição"
              autocomplete="off"
            />
          </app-input>
        </div>

        <div class="col-sm-3 col-xs-6">
          <app-input errorMessage="CPF inválido" label="Marca">
            <input
              type="text"
              class="form-control"
              formControlName="marca"
              placeholder="Marca"
            />
          </app-input>
        </div>

        <div class="col-sm-5 col-xs-6">
          <input
            formControlName="novo"
            type="checkbox"
            class="form-check-input"
          />
          <label class="form-check-label" for="exampleCheck1">Novo</label>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              (click)="salvar(brinquedoForm.value)"
              class="btn btn-success pull-right"
              [disabled]="!brinquedoForm.valid"
            >
              <i class="fa fa-floppy-o"></i> Cadastrar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-region-page>
