<section class="content-header">
  <h1>
    Todos Brinquedos
    <a (click)="toggleSearch()" class="search-link pull-right">
      <span *ngIf="iptSearch.value"><small>"{{ iptSearch.value }}"</small></span>
      <i class="fa fa-search"></i>
    </a>
  </h1>

  <div class="col">
    <div class="col-xs-9 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" #iptSearch formControlName="searchControl" class="form-control"
            placeholder="O que você está procurando?" />
          <button class="btn btn-primary form-control">Filtrar</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-9 px-0 pr-lg-2 mb-2 mb-lg-0">
      <div class="card border-light bg-white card proviewcard shadow-sm">
        <ng-container *ngFor="let item of nomes| paginate: { itemsPerPage: contador, currentPage: pag }; let i = index">
          <div class="card-body">
            <div class="col-lg-12 p-3 cardlist">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="row">
                      <div class="col-4 col-lg-3 col-xl-2">
                        <div class="row">
                          <a (click)="clickDetalhe()" class="w-100">
                            <img
                              src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1597759050&"
                              class="mx-auto d-block mb-1 addcartimg" />
                          </a>
                        </div>
                      </div>
                      <div class="col-8 col-lg-9 col-xl-10">
                        <div class="d-block text-truncate mb-1">
                          <strong>
                            <a (click)="clickDetalhe()" class="cartproname">{{item.nome+i}}</a></strong>
                        </div>
                        <div class="seller d-block">
                          <span>Usuário: </span>
                          <span>SELL010</span>
                        </div>
                        <div class="cartviewprice d-block">
                          <input disabled value="teste" type="checkbox" />
                          <span class="amt">Venda</span>
                          <input disabled value="teste" type="checkbox" />
                          <span class="amt">Troca</span>
                        </div>
                        <div class="col-lg-3 col-5">
                          <a (click)="clickDetalhe()" class="addcardrmv">Detalhes</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer border-light cart-panel-foo-fix">
            <a href="" class="btn btn-add-con">Fazer Proposta</a>
          </div>
        </ng-container>
        <tr *ngFor="let usuario of nomes | paginate: { itemsPerPage: 2, currentPage: pag }; let i = index">
          <td>{{i}}</td>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.endereco}}</td>
        </tr>
        <div class="text-right">
          <pagination-controls (pageChange)="pag = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="restaurants?.length === 0" class="col-xs-12">
    <p class="lead text-center">
      Não foram encontrados itens para a sua busca.
    </p>
  </div>
</section>
