<app-region-page [Title]="titulo">
  <div body>
    <div class="row">
      <div class="card">
        <div class="container-fliud">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active imgPrincipal" id="pic-1">
                <img src={{urlPrincipal}} />
              </div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <ng-container *ngFor="let item of anuncio.brinquedo.imagens let i = index">
                <li>
                  <a (click)="mudouImagem(item.url)" data-target="#pic-{{i}}" data-toggle="tab"><img
                      src={{item.url}} /></a>
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="details col-md-4">
            <h3 class="product-title">{{anuncio.nomeBrinquedo}}</h3>
            <h4 class="price">Usuário<span> - {{anuncio.nomeUsuario}}</span></h4>

            <h5 class="sizes">
              disponibilidade:
              <ng-container *ngIf="anuncio.tipoDisponibilidade===3">
                <span class="size" data-toggle="tooltip" title="Troca">Troca</span>
                <span class="size" data-toggle="tooltip" title="Doação">Doação</span>
              </ng-container>
              <ng-container *ngIf="anuncio.tipoDisponibilidade===1">
                <span class="size" data-toggle="tooltip" title="Doação">Doação</span>
              </ng-container>
              <ng-container *ngIf="anuncio.tipoDisponibilidade===2">
                <span class="size" data-toggle="tooltip" title="Troca">Troca</span>
              </ng-container>
            </h5>
            <ng-container *ngIf="isLogged()">
              <div class="action">
                <button class="add-to-cart btn btn-default" type="button">
                  Fazer proposta
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-region-page>
