<app-region-page [Title]="titulo">
  <div body>
    <div class="row">
      <div class="card">
        <div class="container-fliud">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1">
                <img src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1597759050&" />
              </div>
              <div class="tab-pane" id="pic-2">
                <img src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1597759050&" />
              </div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li>
                <a data-target="#pic-5" data-toggle="tab"
                  ><img src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1597759050&"
                /></a>
              </li>
            </ul>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">Bicicleta South Stark 2021 - Aro 29 - 21 Marchas - Freios a Disco - Suspensão Dianteira - Azul e Preto</h3>
            <p class="product-description">
              Suspendisse quos? Tempus cras iure temporibus? Eu laudantium
              cubilia sem sem! Repudiandae et! Massa senectus enim minim
              sociosqu delectus posuere.
            </p>
            <h4 class="price">Usuário<span> - Gustavo</span></h4>

            <h5 class="sizes">
              disponibilidade:
              <span class="size" data-toggle="tooltip" title="Troca"
                >Troca</span
              >
              <span class="size" data-toggle="tooltip" title="Doação"
                >Doação</span
              >
            </h5>
            <div class="action">
              <button class="add-to-cart btn btn-default" type="button">
                Fazer proposta
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-region-page>
